{% extends "FastFoodApp/base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}

<div class="container mt-3">
    <table class="table">
        <thead>
          <tr>
            <th>Menu</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Seleccionar</th>
          </tr>
        </thead>
        <tbody>
          {% for m in menus %}
            <tr>
                <td>{{m.nombre}}</td>
                <td>
                  <input type="number" style="width: 57px; height: 30px; text-align: center;" id="input_cantidad" placeholder="0"  min="0" max="100">
                </td>
                <td>
                    <label id="label_monto">{{m.precio}}</label>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="input_check">
                  </div>
                </td>
            </tr>
          {% endfor %}
        </tbody>
</div>

{% endblock %}